@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'NeueBit';
		font-style: Bold;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/PPNeueBit-Bold.otf) format('opentype');
	}

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input {
		outline: none;
	}

	input[type='checkbox'] {
		width: 0;
		height: 0;
		display: none;
	}

	.button.yellow {
		@apply rounded py-1 bg-naples-yellow hover:bg-naples-yellow-focus;
	}

	body {
		@apply text-xl;
	}

	.text-medium {
		@apply text-md;
	}
}
